/****************************************** compare product ***************************************/
.table_a{

    color: #1a1f71 ;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.table_a:hover{
    color: #1a1f71 ;
}

.compare_head{
	color: #333  ;
	text-align: center;
	display: flex;
	font-size: 25px;
	font-weight: 501;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	margin: auto;
	display: inline-block;
}
.table_box{
	width: 100%;
}
.table_head{
	text-align:center;
	vertical-align: middle;
	background-color: rgb(153, 25, 25);
	color: #FFFFFF;
}

.table_dh{
	color: #555;
	font-weight: 501;
	text-align: center;
font-size: 15px;
}
.table_dd{
	color:#555;
	font-weight: 600;
	text-align:center;

    font-size: 15px;
}
.table_img{
    padding: 25px;
    width: 70%;
}

@media only screen and (min-width: 280px) and (max-width:991px){
    .table_img{
        padding: 25px;
        width: 100%;
    }
}


@media only screen and (min-width: 991px) and (max-width: 1200px){
    .compro_table{
        width: 1100px !important;
margin: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .compro_table{
        width: 1100px !important;
margin: auto;
    }
}
@media only screen and (min-width: 576px) and (max-width:768px){
    .compro_table{
        width: 1000px !important;
margin: auto;
    }
}
@media only screen and (min-width: 480px) and (max-width:576px){
    .compro_table{
        width: 900px !important;
margin: auto;
    }
}
@media only screen and (min-width: 280px) and (max-width:480px){
    .compro_table{
        width: 800px !important;
margin: auto;
    }
}